@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
<!-- Specific Page Data -->
<!-- End of Data -->

<head>
    <meta charset="utf-8" />
    <title>WishLu Administrator Dashboard</title>
    <meta name="keywords" content="HTML5 Template, CSS3, All Purpose Admin Template, " />
    <meta name="description" content="Responsive Admin Template for multipurpose use">
    <meta name="author" content="Tyler Harden">

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@Url.Content("//assets.wishlu.com/css/admin/img/ico/apple-touch-icon-144-precomposed.png")">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Url.Content("//assets.wishlu.com/css/admin/img/ico/apple-touch-icon-114-precomposed.png")">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("//assets.wishlu.com/css/admin/img/ico/apple-touch-icon-72-precomposed.png")">
    <link rel="apple-touch-icon-precomposed" href="@Url.Content("//assets.wishlu.com/css/admin/img/ico/apple-touch-icon-57-precomposed.png")">
    <link rel="shortcut icon" href="@Url.Content("//assets.wishlu.com/css/admin/img/ico/favicon.png")">


    <!-- CSS -->
    <!-- Bootstrap & FontAwesome & Entypo CSS -->
    <link href="@Url.Content("//assets.wishlu.com/css/admin/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("//assets.wishlu.com/css/admin/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <!--[if IE 7]><link type="text/css" rel="stylesheet" href="@Url.Content("//assets.wishlu.com/css/admin/css/font-awesome-ie7.min.css")"><![endif]-->
    <link href="@Url.Content("//assets.wishlu.com/css/admin/css/font-entypo.css")" rel="stylesheet" type="text/css">

    <!-- Fonts CSS -->
    <link href="@Url.Content("//assets.wishlu.com/css/admin/css/fonts.css")" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="@Url.Content("//assets.wishlu.com/css/admin/plugins/jquery-ui/jquery-ui.custom.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("//assets.wishlu.com/css/admin/plugins/prettyPhoto-plugin/css/prettyPhoto.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("//assets.wishlu.com/css/admin/plugins/isotope/css/isotope.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("//assets.wishlu.com/css/admin/plugins/pnotify/css/jquery.pnotify.css")" media="screen" rel="stylesheet" type="text/css">
    <link href="@Url.Content("//assets.wishlu.com/css/admin/plugins/google-code-prettify/prettify.css")" rel="stylesheet" type="text/css">


    <link href="@Url.Content("//assets.wishlu.com/css/admin/plugins/mCustomScrollbar/jquery.mCustomScrollbar.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("//assets.wishlu.com/css/admin/plugins/tagsInput/jquery.tagsinput.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("//assets.wishlu.com/css/admin/plugins/bootstrap-switch/bootstrap-switch.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("//assets.wishlu.com/css/admin/plugins/daterangepicker/daterangepicker-bs3.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("//assets.wishlu.com/css/admin/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("//assets.wishlu.com/css/admin/plugins/colorpicker/css/colorpicker.css")" rel="stylesheet" type="text/css">

    <!-- Specific CSS -->
    <link href="@Url.Content("//assets.wishlu.com/css/admin/plugins/fullcalendar/fullcalendar.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("//assets.wishlu.com/css/admin/plugins/fullcalendar/fullcalendar.print.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("//assets.wishlu.com/css/admin/plugins/introjs/css/introjs.min.css")" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="@Url.Content("//assets.wishlu.com/css/admin/css/theme.min.css")" rel="stylesheet" type="text/css">
    <!--[if IE]> <link href="@Url.Content("//assets.wishlu.com/css/admin/css/ie.css")" rel="stylesheet" > <![endif]-->
    <link href="@Url.Content("//assets.wishlu.com/css/admin/css/chrome.css")" rel="stylesheet" type="text/chrome"> <!-- chrome only css -->
    <!-- Responsive CSS -->
    <link href="@Url.Content("//assets.wishlu.com/css/admin/css/theme-responsive.min.css")" rel="stylesheet" type="text/css">




    <!-- Custom CSS -->
    <link href="@Url.Content("//assets.wishlu.com/css/admin/custom/custom.css")" rel="stylesheet" type="text/css">



    <!-- Head SCRIPTS -->
    <script type="text/javascript" src="@Url.Content("//assets.wishlu.com/css/admin/js/modernizr.js")"></script>
    <script type="text/javascript" src="@Url.Content("//assets.wishlu.com/css/admin/js/mobile-detect.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("//assets.wishlu.com/css/admin/js/mobile-detect-modernizr.js")"></script>

    <script type="text/javascript" src="@Url.Content("//assets.wishlu.com/css/admin/js/jquery.js")"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="@Url.Content("//assets.wishlu.com/css/admin/js/html5shiv.js")"></script>
      <script type="text/javascript" src="@Url.Content("//assets.wishlu.com/css/admin/js/respond.min.js")"></script>
    <![endif]-->

</head>

<body id="dashboard" class="full-layout  nav-right-hide nav-right-start-hide  nav-top-fixed      responsive    clearfix" data-active="dashboard " data-smooth-scrolling="1">
    <div class="vd_body">
        <!-- Header Start -->
        @RenderPage("~/Views/Admin/_Header.cshtml")
        <!-- Header Ends -->
        <!-- Content Start -->
        <div class="content">
            <div class="container">
                <!-- Navbar -->
                @RenderPage("~/Views/Admin/_NavBar.cshtml")
                <!-- End Navbar -->
                <!-- Chat Bar -->
                @RenderPage("~/Views/Admin/_ChatBar.cshtml")
                <!-- End Chat Bar -->
                <!-- Middle Content Start -->
                <div class="vd_content-wrapper">
                    <div class="vd_container">
                        <div class="vd_content clearfix">
                            <div class="vd_head-section clearfix">
                                <div class="vd_panel-header">
                                    <ul class="breadcrumb">
                                        <li><a href="@Url.Action("Index", "Admin")">Home</a> </li>
                                        @RenderSection("breadcrumb")
                                    </ul>
                                    <div class="vd_panel-menu hidden-sm hidden-xs">
                                        <div data-action="remove-navbar" data-original-title="Remove Navigation Bar Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-navbar-button menu"> <i class="fa fa-arrows-h"></i> </div>
                                        <div data-action="remove-header" data-original-title="Remove Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="remove-header-button menu"> <i class="fa fa-arrows-v"></i> </div>
                                        <div data-action="fullscreen" data-original-title="Remove Navigation Bar and Top Menu Toggle" data-toggle="tooltip" data-placement="bottom" class="fullscreen-button menu"> <i class="glyphicon glyphicon-fullscreen"></i> </div>
                                    </div>
                                </div>
                            </div>
                            <!-- vd_head-section -->

                            <div class="vd_title-section clearfix">
                                <div class="vd_panel-header">
                                    <h1>@RenderSection("title")</h1>
                                    <small class="subtitle">@RenderSection("subtitle")</small>

                                </div>
                                <!-- vd_panel-header -->
                            </div>
                            <!-- vd_title-section -->
                            @RenderBody()

                        </div>
                        <!-- .vd_content -->
                    </div>
                    <!-- .vd_container -->
                </div>
                <!-- .vd_content-wrapper -->
                <!-- Middle Content End -->
            </div>
            <!-- .container -->

        </div>
        <!-- .content -->
        <!-- Footer Start -->
        @RenderPage("~/Views/Admin/_Footer.cshtml")
        <!-- Footer END -->
        <!-- Chat Start -->
        @*
            NOTE: Currently hiding chat pop-up to keep the interface easy to use while we fine-tune and implement the admin panels.
        *@
        @*@RenderPage("~/Views/Admin/_Chat.cshtml")*@
        <!-- Chat End -->
    </div>
    <!-- .vd_body END  -->

    <a id="back-top" href="#" data-action="backtop" class="vd_back-top visible"> <i class="fa  fa-angle-up"> </i> </a>

    <!--
    <a class="back-top" href="#" id="back-top"> <i class="icon-chevron-up icon-white"> </i> </a> -->
    <!-- Javascript =============================================== -->
    <!-- Placed at the end of the document so the pages load faster -->    
    <!--[if lt IE 9]>
      <script type="text/javascript" src="@Url.Content("//assets.wishlu.com/css/admin/js/excanvas.js")"></script>
    <![endif]-->
    <script type="text/javascript" src="@Url.Content("//assets.wishlu.com/css/admin/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src='@Url.Content("//assets.wishlu.com/css/admin/plugins/jquery-ui/jquery-ui.custom.min.js")'></script>
    <script type="text/javascript" src="@Url.Content("//assets.wishlu.com/css/admin/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("//assets.wishlu.com/css/admin/js/caroufredsel.js")"></script>
    <script type="text/javascript" src="@Url.Content("//assets.wishlu.com/css/admin/js/plugins.js")"></script>

    <script type="text/javascript" src="@Url.Content("//assets.wishlu.com/css/admin/plugins/breakpoints/breakpoints.js")"></script>
    <script type="text/javascript" src="@Url.Content("//assets.wishlu.com/css/admin/plugins/dataTables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("//assets.wishlu.com/css/admin/plugins/prettyPhoto-plugin/js/jquery.prettyPhoto.js")"></script>

    <script type="text/javascript" src="@Url.Content("//assets.wishlu.com/css/admin/plugins/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("//assets.wishlu.com/css/admin/plugins/tagsInput/jquery.tagsinput.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("//assets.wishlu.com/css/admin/plugins/bootstrap-switch/bootstrap-switch.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("//assets.wishlu.com/css/admin/plugins/blockUI/jquery.blockUI.js")"></script>
    <script type="text/javascript" src="@Url.Content("//assets.wishlu.com/css/admin/plugins/pnotify/js/jquery.pnotify.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("//assets.wishlu.com/css/admin/js/theme.js")"></script>
    <script type="text/javascript" src="@Url.Content("//assets.wishlu.com/css/admin/custom/custom.js")"></script>

    <!-- Specific Page Scripts Put Here -->
    @RenderSection("scripts")
    <!-- Specific Page Scripts END -->
    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->

    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-XXXXX-X']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>