@inherits RazorEngine.Templating.HtmlTemplateBase<Squid.Users.User>
@helper Button(string link, string text)
{
    string background = @"background: rgb(252,252,252);
        background: -moz-linear-gradient(top, rgba(252,252,252,1) 0, rgba(224,224,224,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0,rgba(252,252,252,1)), color-stop(100%,rgba(224,224,224,1)));
        background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0,rgba(224,224,224,1) 100%);
        background: -o-linear-gradient(top, rgba(252,252,252,1) 0,rgba(224,224,224,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e0e0e0',GradientType=0 );
        background: linear-gradient(top, rgba(252,252,252,1) 0,rgba(224,224,224,1) 100%);";

                                                                                        <div style="text-align:center;">
                                                                                            <a class="button pop center" style="text-shadow:0 1px 0 #fff;font-size:14px;vertical-align: middle;color:#666;text-decoration:none;position:relative;top:0;left:0;box-sizing: border-box; display:inline-block; @background border:1px solid #ccc; border-radius: 5px; padding: 10px 15px;" href="@link">@text</a>
                                                                                        </div>
}
<!DOCTYPE HTML>

<div style="text-align:center;">
    <img src="http://assets.wishlu.com/images/email/logo.png" />
</div>

@{
    string reseturl = "http://www.wishlu.com/password/reset?token=" + Model.Id + "!" + Model.ResetCode;
}

<h2>Hello @Model.FirstName,</h2>

<span style="text-align:center;">We recently received a password reset request from you (or some nefarious anti-you). Click the link to proceed to resetting your password.</span>

<a class="button pop center" href="@reseturl">reset password</a>

<span>If you feel you received this e-mail in error, or did not request to reset your password, simply ignore it and your request will expire in 24 hours.</span>

<p>If the button isn't working paste the link below in your browser</p>
<p>@reseturl</p>