@using Disco.Common
@{
    Layout = "~/Views/Shared/Templates/BlankLayout.cshtml";
        
    // Facebook
    string clientId = "296645670486904";
    string redirectUrl = "https://www.wishlu.com/facebook/signin";
    string scope = "read_friendlists,email,offline_access";
    TempData["ReturnUrl"] = ViewBag.ReturnUrl;    
}

@section meta {
    <link rel="canonical" href="//www.wishlu.com/signin" />

    <!-- Google -->
    <meta name="description" content="Signin to wishlu, the new way to give (and to get)." />
    <meta name="keywords" content="wishlu wish gift registry join" />

    <meta name="author" content="" />
    <meta name="copyright" content="" />
    <meta name="application-name" content="wishlu" />

    <!-- Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="wishlu" />
    <meta property="og:title" content="Signin to wishlu" />
    <meta property="og:image" content="https://assets.wishlu.com/images/logobeta.jpg" />
    <meta property="og:url" content="https://www.wishlu.com/signin" />
    <meta property="og:description" content="Signin wishlu, the new way to give (and to get)." />
}

@section page {
    sign in - wishlu
}

@section styles {

</style>
}

@section scripts
{

<script type="text/javascript">
    $(document).ready(function () {
        var h = $(window).height();
        var w = $(window).width();

        var h2 = $("#SignInPopup").height() + 200;
        var w2 = $("#SignInPopup").width();

        var top = (h / 2) - (h2 / 2);
        var left = (w / 2) - (w2 / 2);

        if (top < 0)
            top = 0;

        if (left < 0)
            left = 0;

        $("#SignInPopup").css('left', left + 'px');
        $("#SignInPopup").css('top', top + 'px');

        $("#SignInPopup").fadeIn();
    });

    $(window).resize(function () {
        var element = $("#SignInPopup");

        var h = $(window).height();
        var w = $(window).width();

        var h2 = $(element).height() + 200;
        var w2 = $(element).width();

        var top = (h / 2) - (h2 / 2);
        var left = (w / 2) - (w2 / 2);

        if (top < 0)
            top = 0;

        if (left < 0)
            left = 0;

        $(element).css('left', left + 'px');
        $(element).css('top', top + 'px');
    });

    $(document).ready(function () {
        $('#google_signin').click(function () {
            $(this).attr('href', 'https://accounts.google.com/o/oauth2/auth?scope=' +
              'https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fplus.login&' +
              'state=@ViewData["googleplus_state"]&' +
              'redirect_uri=https://wishlu.com/google/signin&' +
              'response_type=code&' +
              'client_id=432351898016-1g1q8vbuqhp5nui1fmeu2iuitruumd7n.apps.googleusercontent.com&' +
              'access_type=offline');
            return true; // Continue with the new href.
        });
    });

    $(document).ready(function () {
        $("#SignIn").submit(function (e) {
            e.preventDefault();

            if ($("#EMail").val() == "")
            {                
                swal("Oops...", "Please enter your e-mail address or username to login.", "warning");
                return;
            }

            if ($("#Password").val() == "") {               
                swal("Oops...", "Please enter your password to login.", "warning");
                return;
            }

            $.ajax({
                type: "POST",
                url: "/home/signin",
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                traditional: true,
                data: JSON.stringify(getLogin()),
                success: function (data, status, request) {
                    if (data.result == true) {
                        window.location.href = data.destination;
                    }
                    else {
                        swal("Uh oh...", data.message, "error");                        
                    }
                },
                error: function (data, status, request) { swal("Uh oh...", data.message, "error"); }
            });
        });
        
        function getLogin() {
            var data = {}
            data.LoginId = $("#EMail").val();
            data.Password = $("#Password").val();
            data.ReturnUrl = $("#returnurl").val();
            
            return data;
        }
    });
</script>
}

<form class="form-horizontal col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" id="SignIn" name="SignIn" method="post" action="" role="form" novalidate>
    <input type="hidden" id="returnurl" value="@(ViewBag.ReturnUrl)" />
    <div class="row text-center">
        <a href="/">
            <img src="//assets.wishlu.com/images/headerLogo.png" alt="Sign in to wishlu">
        </a>
    </div>
    <div class="form-group">
        <div class=" col-xs-12">
            <a class="button pop center full" href="@(string.Format("https://graph.facebook.com/oauth/authorize?client_id={0}&redirect_uri={1}&scope={2}", clientId, redirectUrl, scope))">
                <span class="fa fa-facebook-square" style="color: #3B5998;"></span>
                <span>sign in with facebook</span>
            </a>
            @*<div class="col_12">
                    <a class="button pop full" href="@Url.Action("authenticate", "twitter")">
                        <span class="fa fa-twitter-square" style="color: #4099FF;"></span>
                        <span>sign in with twitter</span>
                    </a>
                </div>
                <div class="col_12">
                    <a id="google_signin" class="button pop full" href="#">
                        <span class="fa fa-google-plus-square" style="color: #dd4b39;"></span>
                        <span>sign in with google+</span>
                    </a>
                </div>*@
        </div>
    </div>
    <hr />
    <div class="form-group">
        <div class="col-xs-12">
            <input class="form-control" id="EMail" name="EMail" placeholder="e-mail / username" type="email" required />            
        </div>        
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <input class="form-control" id="Password" name="Password" placeholder="password" type="password" required />
        </div>
    </div>
    <div class="form-group">        
        <div class="col-xs-6">
            <ul class="list-unstyled">
                <li>@Html.ActionLink("forgot password?", "forgot", "password")</li>
                <li>@Html.ActionLink("join now.", "index", "join")</li>
            </ul>            
        </div>
        <div class="col-xs-6">
            <button class="btn btn-primary btn-block" id="signin" type="submit">
                sign in
            </button>
        </div>
    </div>    
</form>