@model List<Milkshake.Product>
<script>
    $(document).ready(function () {
        swal("Welcome!", "You have not yet followed or friended anyone, so here is a selection of items from 10 stores on wishlu for inspiration.");
    });    
</script>
@foreach (Milkshake.Product item in Model.OrderBy(x => x.Name))
{
    Milkshake.Offer o = item.GetLowestOffer();
    
    <div class="pop item" style="height: auto !important; width: 150px; margin: 2px; overflow: hidden; padding-top: 0; border: 1px solid lightgray; border-radius: 15px; position:relative; background-color: white;">
        <a href="@Url.Action("view", "product", new { @id = item.Id })">
            <div class="col_12" style="float: none; display: inline-block; position: relative; margin: 0; color: #a8a096; background-size: cover; background-position: center; background-image: url('@(item.Image)'); background-color: white; width: 100%; height: 200px;">
            </div>
            <div style="padding-left: 10px; padding-top: 5px; padding-bottom: 5px; font-size: 10pt; width: 100%; border-top: 1px solid lightgray;">
                <b>@WebUtility.HtmlDecode(item.Name)</b>
            </div>
        </a>
        <div style="padding-left: 10px; padding-top: 5px; padding-bottom: 5px; width: 100%; border-top: 1px solid lightgray; font-size: 10pt;">
            @String.Format("{0:C}", Decimal.Parse(o.Price))
        </div>
        <div style="padding-left: 10px; padding-top: 5px; padding-bottom: 5px; width: 100%; border-top: 1px solid lightgray;">
            <div class="col_3">
                <a href="@Url.Action("view", "store", new { @id = o.StoreId })">
                    <div class="circlefriend pop sitelink" style="border-radius:0;border:0;background-image: url('//assets.wishlu.com/images/stores/@Milkshake.Store.GetById(o.StoreId).Logo'); background-position: center; display: inline-block; border: 1px solid gray; width: 35px; height: 35px; margin-right: 10px;">
                    </div>
                </a>
            </div>
            <div class="col_9 nomargin">
                <div class="col_12 nomargin">
                    <a href="@Url.Action("view", "store", new { @id = @o.StoreId })">
                        <span style="font-size: 9pt; color: gray;"><b>@Milkshake.Store.GetById(o.StoreId).Name</b></span>
                    </a>
                </div>
                @*<div class="col_12 nomargin">
                    <a href="@Url.Action("viewother", "wishlu", new { @id = item.WishLu.Id })">
                        <span style="font-size: 9pt; color: lightgray;"><b>@item.WishLu.Name</b></span>
                    </a>
                </div>*@
            </div>
        </div>
    </div>
}