@model Nest.ISearchResponse<Milkshake.Product>
@using Disco.Common
@using System.Text.RegularExpressions
@using Milkshake
@{
    int prodcount = 0;

    List<Milkshake.Product> results = Model.Documents.ToList();
    if (ViewBag.Limit != null && ViewBag.Limit > 0)
    {
        results = results.Take((int)ViewBag.Limit).ToList();
    }
}

<div class="tooltip-content hide" id="tooltip_product_save">
    <h5>save this product</h5>
    <p>Save this product to an existing or new wishlu and share it with others.</p>
</div>

@*
    <div class="col_12" id="search_guide" style="border:2px solid lightblue; border-radius: 15px; background: white;">
        @try
        {
            var brand = Model.Facet<Nest.TermFacet>("Brand");
            <div class="col_4">
                <h5>brand</h5>
                @foreach (var b in brand.Items.Take(10))
                {
                    <a class="brand_filter col_4 sitelink" style="border:1px solid lightblue; border-radius: 5px; font-size: 10pt; background:#ddd; color:gray;" data-brand="@b.Term">@b.Term (@b.Count)</a>
                }
            </div>

            var category = Model.Facet<Nest.TermFacet>("Category");
            <div class="col_4">
                <h5>category</h5>
                @foreach (var c in category.Items.Take(10))
                {
                    <a class="category_filter col_4 sitelink" style="border:1px solid lightblue; border-radius: 5px; font-size: 10pt; background:#ddd; color:gray;" data-brand="@c.Term">@c.Term (@c.Count)</a>
                }
            </div>

            var color = Model.Facet<Nest.TermFacet>("Color");
            <div class="col_4">
                <h5>color</h5>
                @foreach (var c in color.Items.Take(10))
                {
                    <a class="color_filter col_4 sitelink" style="border:1px solid lightblue; border-radius: 5px; font-size: 10pt; background:#ddd; color:gray;" data-brand="@c.Term">@c.Term (@c.Count)</a>
                }
            </div>

            var manufacturer = Model.Facet<Nest.TermFacet>("Manufacturer");
            <div class="col_4">
                <h5>manufacturer</h5>
                @foreach (var m in manufacturer.Items.Take(10))
                {
                    <a class="manufacturer_filter col_4 sitelink" style="border:1px solid lightblue; border-radius: 5px; font-size: 10pt; background:#ddd; color:gray;" data-brand="@m.Term">@m.Term (@m.Count)</a>
                }
            </div>
        }
        catch { }
    </div>*@

@foreach (Milkshake.Product product in results)
{
    if (product == null)
    {
        continue;
    }

    if (String.IsNullOrEmpty(product.Name))
    {
        continue;
    }

    string name = HttpUtility.HtmlDecode(product.Name);

    name = name.Replace("&#60;", "<");
    name = name.Replace("&#62;", ">");

    name = Regex.Replace(name, @"<[^>]+>|&nbsp;", "").Trim();
    name = Regex.Replace(name, @"\s{2,}", " ");

    name = name.Replace("&nbsp;", " ");
    name = name.Replace("&#160;", " ");
    name = name.Replace("&#39;", "'");
    name = name.Replace("&#34;", "\"");
    name = name.Replace("&#47;", "/");

    name = WebUtility.HtmlDecode(name);

    if (product.IsMilkshake)
    {
        //Milkshake.Offer o = product.GetLowestOffer();

        //if (o == null)
        //{
        //    continue;
        //}

        Milkshake.Offer o = product.Offers.OrderBy(x => x.SalePrice).First();

        product.Price = !String.IsNullOrEmpty(o.SalePrice) ? o.SalePrice : "0";
        product.Store = o.Store; // Milkshake.Store.GetName(o.StoreId);
    }

    <div class="col_4 pop product square @(product.IsMilkshake ? "milkshake" : "")" style="padding: 5px; border: 1px solid lightgray; background: white; border-radius: 15px;">
        <div>
            <div class="col_12 center tooltip" title="@name" data-delay="0" style="margin-top: 0; margin-bottom: 0; font-size: 14pt;">
                <span style="color: #998B7D">
                    @(name.Length <= 35 ? name : name.Substring(0, 32) + "...")
                </span>
            </div>
            <div class="col_12 center" style="color: #998B7D">
                @(!String.IsNullOrEmpty(product.Manufacturer) ? product.Manufacturer : "N/A")
            </div>
            <div class="col_12 center">
                <span style="margin-top: 0; color: #998B7D; font-size: 12pt;">
                    @(!String.IsNullOrEmpty(product.Price) ? String.Format("{0:C}", Decimal.Parse(product.Price)) : "$0.00")
                </span>
            </div>
            @if (product.IsMilkshake)
            {
                <a href="/p/@product.Id" target="_blank">
                    <div class="col_12 sitelink" style="text-align: center;">
                        <div style="margin: 0 auto; background-size: contain; background-repeat: no-repeat; background-position: center; background-color: transparent; background-image: url('@(product.Image != null ? product.Image : "//assets.wishlu.com/images/DefaultWish.jpg")'); width: 175px; height: 175px; text-align: center;"></div>
                    </div>
                </a>
            }
            else if (product.Store == "BestBuy")
            {
                <a href="/product/bby/@product.SKU" target="_blank">
                    <div class="col_12 sitelink" style="text-align: center;">
                        <div style="margin: 0 auto; background-size: contain; background-repeat: no-repeat; background-position: center; background-color: transparent; background-image: url('@(product.Image != null ? product.Image : "//assets.wishlu.com/images/DefaultWish.jpg")'); width: 175px; height: 175px; text-align: center;"></div>
                    </div>
                </a>
            }
            else if (product.Store == "Amazon")
            {
                <a href="/product/amazon/@product.ASIN" target="_blank">
                    <div class="col_12 sitelink" style="text-align: center;">
                        <div style="margin: 0 auto; background-size: contain; background-repeat: no-repeat; background-position: center; background-color: transparent; background-image: url('@(product.Image != null ? product.Image : "//assets.wishlu.com/images/DefaultWish.jpg")'); width: 175px; height: 175px; text-align: center;"></div>
                    </div>
                </a>
            }
            <div class="col_12 center" style="color: #998B7D">
                <span><b>@product.Store</b></span>
            </div>
            <div class="col_12 center">
                @if (product.IsMilkshake)
                {
                    if (Request.IsAuthenticated)
                    {
                        <button class="button pop product_save tooltip" style="padding:5px;" data-content="#tooltip_product_save" data-delay="0" data-product-type="milkshake" data-id="@product.Id" data-count="@prodcount">
                            save
                        </button>
                    }
                    <a class="button pop product_view" style="padding:5px;" href="/p/@product.Id" target="_blank">
                        view
                    </a>
                }
                else if (product.Store == "BestBuy")
                {
                    if (Request.IsAuthenticated)
                    {
                        <button class="button pop product_save tooltip" style="padding:5px;" data-content="#tooltip_product_save" data-delay="0" data-product-type="bby" data-sku="@product.SKU" data-count="@prodcount">
                            save
                        </button>
                    }
                    <a class="button pop" style="padding:5px;" href="/product/bby/@product.SKU" target="_blank">
                        view
                    </a>
                }
                else if (product.Store == "Amazon")
                {
                    if (Request.IsAuthenticated)
                    {
                        <button class="button pop product_save tooltip" style="padding:5px;" data-content="#tooltip_product_save" data-delay="0" data-product-type="amazon" data-asin="@product.ASIN" data-count="@prodcount">
                            save
                        </button>
                    }
                    <a class="button pop product_view" style="padding:5px;" href="/product/amazon/@product.ASIN" target="_blank">
                        view
                    </a>
                }
                else if (product.Store == "Etsy")
                {
                    // TODO: Implement Etsy API
                }
                else
                {
                    // TODO: We should never really end up here, but we need a fallback
                }
            </div>
        </div>
    </div>
                prodcount++;
}