@{
    int wishLuCounter = 0;
    int wishCounter = 0;
    string wishLucolor = "95D5E1";
    string wishLuAltColor = "000000";
}

@foreach (Squid.Wishes.WishluWishes pair in Model)
{
    Squid.Wishes.Wishlu wishLu = pair.Wishlu;
    IEnumerable<Squid.Wishes.Wish> wishes = pair.Wishes;

    wishCounter = 0;
    wishLucolor = ((wishLu.DisplayColor).ToString("X6"));
    wishLuAltColor = System.Drawing.ColorTranslator.ToHtml(Disco.Common.Helpers.ContrastColor(System.Drawing.ColorTranslator.FromHtml("#" + wishLucolor)));

    string wishloops = "";
    foreach (Guid id in wishLu.GetWishloopIds())
    {
        wishloops += id + ",";
    }
    if (wishloops.Length > 0)
    {
        wishloops = wishloops.Remove(wishloops.Length - 1, 1);
    }

    <div class="col_4 wishlu square pop" id="wishlu_@wishLu.Id" style="border-color: #@wishLucolor;" data-id="@wishLu.Id" data-name="@wishLu.Name" data-color="@wishLucolor" data-visibility="@wishLu.Visibility" data-date="@wishLu.EventDateTime.GetValueOrDefault().ToString("MM/dd/yyyy")" data-wishloops="@wishloops">
        <div class="col_12">
            <h6 class="center">
                <span class="lowercase"><a class="name" href="/l/@wishLu.Id">@(wishLu.Name.Length <= 20 ? wishLu.Name : wishLu.Name.Substring(0, 17) + "...")</a></span>
                <span style="font-weight: lighter; padding-left: 5px; padding-right: 5px;">|</span>
                <span style="font-weight: lighter;">@(wishes.Count())</span>
            </h6>
            @switch (wishLu.Visibility)
            {
                case Squid.Wishes.WishluVisibility.Friends:
                    <span class="center tooltip" title="Click the edit tool to view the wishloops that can see this." style="font-size:0.8em;">
                        (shared)
                    </span>
                    break;

                case Squid.Wishes.WishluVisibility.Private:
                <span class="center tooltip" title="Only you can see this." style="font-size:0.8em;">
                    (private)
                </span>
                    break;

                case Squid.Wishes.WishluVisibility.Public:
                <span class="center tooltip" title="Everyone can see this." style="font-size:0.8em;">
                    (public)
                </span>
                    break;
            }
            <a class="wishlu_edit" href="#" style="position:absolute; top:10px; left:10px; color: gray;"><i class="fa fa-wrench"></i></a>
            @*<a class="wishlu_qr" data-id="@wishLu.Id" href="#" style="position:absolute; top:10px; left:30px; color: gray;"><i class="fa fa-qrcode"></i></a>*@
            <!-- Blindfold Options -->
            @*<a class="wishlu_blindfold" href="#" style="position:absolute; top:10px; left:50px; color: gray;"><i class="fa fa-eye-slash"></i></a>*@
            @if (wishLu.IsDeletable)
            {
                <i class="fa fa-trash red wishlu_delete sitelink" style="margin-left: 5px; position:absolute; top:10px; right:10px; color: gray;"></i>
            }

            <div class="col_12 center">
                @foreach (Squid.Wishes.Wish wish in wishes.Take(6))
                {
                    string thisImage = "//assets.wishlu.com/images/DefaultWish.jpg";
                    if (!String.IsNullOrEmpty(wish.ImageUrl))
                    {
                        thisImage = wish.ImageUrl;
                    }
                    <a href="@("/i/" + wish.Id.ToString())">
                        <div class="col_4 square" style="position: relative; border: 1px solid #a8a096; background-size: contain; background-position: center; background-repeat: no-repeat; background-image: url('@thisImage');">
                            @if (wish.WishStatus == Squid.Wishes.WishStatus.Revealed)
                            {
                                <div class="rectangle" style="height: 20px;">
                                    <span class="rectangle-text granted" style="font-size: 10pt; font-weight: 100; height: 20px; text-transform: lowercase;">gifted</span>
                                </div>
                            }
                            else if (Request.IsAuthenticated && wish.WishStatus == Squid.Wishes.WishStatus.Confirmed)
                            {
                                <div class="rectangle" style="height: 20px;">
                                    <span class="rectangle-text granted" style="font-size: 10pt; font-weight: 100; height: 20px; text-transform: lowercase;">gifted <i class="fa fa-check-circle" style="color:#c1dd5c;"></i></span>
                                </div>
                            }
                            else if (wish.WishStatus != Squid.Wishes.WishStatus.Requested && wish.WishStatus != Squid.Wishes.WishStatus.Promised)
                            {
                                <div class="rectangle" style="height: 20px;">
                                    <span class="rectangle-text granted" style="font-size: 10pt; font-weight: 100; height: 20px; text-transform: lowercase;">@wish.WishStatus</span>
                                </div>
                            }
                        </div>
                    </a>
                            wishCounter++;
                }
                @for (int k = wishCounter; k < 6; k++)
                {
                    <a href="/item/hunt/?state=search&wishlu=@wishLu.Id">
                        <div class="col_4 square" style="display: inline-block; border: 1px solid #a8a096; background-size: cover; background-repeat: no-repeat; background-image: url('//assets.wishlu.com/images/DefaultWish.jpg');">
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
    wishLuCounter++;

    if (wishLuCounter == 1)
    {        
        <div class="col_4 wishlu square wishlu_create pop link" style="position: relative; background-image: url('//assets.wishlu.com/images/headerLogoWatermark.png'); background-size: cover; background-repeat: no-repeat;">
            <span style="position: absolute; top: 45%; left:0; right: 0; font-size: 24pt;">create a new wishlu</span>
        </div>        
    }
}