@model Squid.Users.User
@using Disco.Common
@{
    Layout = "~/Views/Shared/Templates/MainLayout.cshtml";    
}

@section page {
    wishlu - my account
}

@section title {
    my account <i class="fa fa-angle-right" style="margin-left: 5px; margin-right: 5px;"></i> general
}

@section scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $("#changePassword").hide();

        $("#showChangePassword").click(function () {
            $("#changePassword").slideToggle();
        });

        $("#saveName").click(function () {
            var button = $(this);

            button.html("<i class='fa fa-spinner fa-spin'></i>");

            $.get("/user/name?first=" + encodeURIComponent($("#settingsFirstName").val()) + "&last=" + encodeURIComponent($("#settingsLastName").val()), null, function (result) {
                if (result === true) {
                    button.html("<i class='fa fa-check' style='color:#c1dd5c;'></i>");
                    $("#headerProfileName").text($("#settingsFirstName").val());
                }
                else {
                    button.html("<i class='fa fa-times' style='color:#f2cec5;'></i>");
                }
            });
        });

        $("#saveUsername").click(function () {
            var button = $(this);

            button.html("<i class='fa fa-spinner fa-spin'></i>");

            $.post("/user/handle?handle=" + encodeURIComponent($("#settingsUsername").val()), null, function (result) {
                if (result === true) {
                    button.html("<i class='fa fa-check' style='color:#c1dd5c;'></i>");
                }
                else {
                    button.html("<i class='fa fa-times' style='color:#f2cec5;'></i>");
                }
            });
        });

        $("#saveEmail").click(function () {
            var button = $(this);

            button.html("<i class='fa fa-spinner fa-spin'></i>");

            $.post("/user/email?email=" + encodeURIComponent($("#settingsEmail").val()), null, function (result) {
                if (result === true) {
                    button.html("<i class='fa fa-check' style='color:#c1dd5c;'></i>");
                }
                else {
                    button.html("<i class='fa fa-times' style='color:#f2cec5;'></i>");
                }
            });
        });

        $("#save_birthday").click(function () {
            var button = $(this);

            button.html("<i class='fa fa-spinner fa-spin'></i>");

            $('#settings_birthday').val($('#bdaymonth').val() + '/' + $("#bdayday").val() + '/' + $('#bdayyear').val());

            $.post("/user/birthday?dob=" + encodeURIComponent($("#settings_birthday").val()), null, function (result) {
                if (result === true) {
                    button.html("<i class='fa fa-check' style='color:#c1dd5c;'></i>");
                }
                else {
                    button.html("<i class='fa fa-times' style='color:#f2cec5;'></i>");
                }
            });
        });

        $("#savePassword").click(function () {
            var button = $(this);

            button.html("<i class='fa fa-spinner fa-spin'></i>");

            $.post("/user/password?password=" + encodeURIComponent($("#settingsPassword").val()) + "&confirm=" + encodeURIComponent($("#settingsPasswordRepeat").val()), null, function (result) {
                if (result === true) {
                    button.html("<i class='fa fa-check' style='color:#c1dd5c;'></i>");
                }
                else {
                    button.html("<i class='fa fa-times' style='color:#f2cec5;'></i>");
                }
            });
        });

        $("#bdayday").val(@Model.DateOfBirth.Day.ToString("D2"));
        $("#bdayyear").val(@Model.DateOfBirth.Year);
        $("#bdaymonth").val(@Model.DateOfBirth.Month);
        //$("#bdaymonth").val("@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Model.DateOfBirth.Month).ToLower()");
    });
</script>
}

@section info {
    <div class="col_12" style="text-align:left; height:400px; overflow: auto;">
        <span>
            Manage your account here:
        </span>
        <ul>
            <li>Edit your name, handle, email address, birth date, and password.</li>            
            <li>Click <b>privacy</b> to manage who can see your profile, follow you on wishlu, find you on wishlu, and contact you via wishlu.</li>
            <li>Click <b>blocking</b> to prevent users from interacting with you in anyway on wishlu by entering their email address or username (the name behind the backslash in your browser).  Or, you can find them via the search function and block them from their profile page.</li>
            <li>Click <b>notifications</b> to manage what you get notified about, by whom, and how.</li>
            <li>Click <b>mobile</b> to add or update your mobile number so you can send a friend’s gift information to your phone as a text message for easier in-store shopping, or to pass on your own gift information to a friend.</li>
            <li>Click <b>find friends</b> to see which of your Facebook friends are members of wishlu. Invite those who aren’t to join you.</li>
            <li>Click <b>social</b> to connect your wishlu account to Twitter, Facebook, and Google+ to share wishes, invite friends, and login.</li>
        </ul>
    </div>
}

<div class="row" style="margin-bottom:10px;">
    <div class="col-xs-12">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation" class="active">
                <a href="/user/index">
                    <i class="fa fa-fw fa-cogs" style="color:gray;"></i> general
                </a>
            </li>
            <li role="presentation">
                <a href="/user/privacy">
                    <i class="fa fa-fw fa-lock" style="color: gold;"></i> privacy
                </a>
            </li>
            <li role="presentation">
                <a href="/user/blocking">
                    <i class="fa fa-fw fa-minus-circle" style="color: indianred;"></i> blocking
                </a>
            </li>
            <li role="presentation">
                <a href="/user/notifications">
                    <i class="fa fa-fw fa-globe" style="color: deepskyblue;"></i> notifications
                </a>
            </li>
            <li role="presentation">
                <a href="/user/mobile">
                    <i class="fa fa-fw fa-mobile" style="color:darkslategray;"></i> mobile
                </a>
            </li>
            <li role="presentation">
                <a href="/user/findfriends">
                    <i class="fa fa-fw fa-users" style="color:midnightblue"></i> find friends
                </a>
            </li>
            <li role="presentation">
                <a href="/user/social">
                    <i class="fa fa-fw fa-cubes" style="color:gray;"></i> social
                </a>
            </li>
        </ul>
    </div>
</div>

@*<li><a href="/user/security"><i class="fa fa-fw fa-2x fa-shield" style="color: gold;"></i>security</a></li>*@
@*<li><a href="/user/payments"><i class="fa fa-fw fa-2x fa-credit-card"></i>payments</a></li>*@

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("", "", new { @id = "joinForm" }, FormMethod.Post, new { @class = "joinForm required-form" }))
        {
            <div class="grid" style="color: Gray">
                <div class="col_12">
                    <span class="col_4">name</span>
                    <span class="col_3" style="padding: 0;">@Html.TextBox("settingsFirstName", Model.FirstName, new { @id = "settingsFirstName", @class = "full small-input", placeholder = "first name" })</span>
                    <span class="col_3" style="padding: 0;">@Html.TextBox("settingsLastName", Model.LastName, new { @id = "settingsLastName", @class = "full small-input", placeholder = "last name" })</span>
                    <span class="col_2"><a class="button pop" id="saveName">save</a></span>
                    <span class="col_4">handle</span>
                    <span class="col_6" style="padding: 0;">@Html.TextBox("settingsUsername", Model.Handle, new { @id = "settingsUsername", @class = "full small-input", placeholder = "username" })</span>
                    <span class="col_2"><a class="button pop" id="saveUsername">save</a></span>
                    <span class="col_4">email</span>
                    <div class="col_6">
                        @Html.TextBox("settingsEmail", Model.Email, new { @id = "settingsEmail", @class = "full small-input", placeholder = "enter email address" })<br />
                        <span style="float: left; padding: 0; font-size: 0.7em;"></span>
                    </div>
                    <span class="col_2"><a class="button pop" id="saveEmail">save</a></span>
                    <span class="col_4">birthday</span>
                    <input type="hidden" value="" id="settings_birthday" />
                    <div class="col_2">
                        <select id="bdaymonth" class="full small-input input-like lowercase" title="Please indicate your birth month" required>
                            <option value="">Month</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                    <div class="col_2">
                        <select id="bdayday" class="full small-input input-like lowercase" title="Please indicate your birth day" required>
                            <option value="">Day</option>
                            <option value="01">1</option>
                            <option value="02">2</option>
                            <option value="03">3</option>
                            <option value="04">4</option>
                            <option value="05">5</option>
                            <option value="06">6</option>
                            <option value="07">7</option>
                            <option value="08">8</option>
                            <option value="09">9</option>
                            @for (int i = 10; i <= 31; i++)
                            {
                                <option value="@(i)">@(i)</option>
                            }
                        </select>
                    </div>
                    <div class="col_2">
                        <select id="bdayyear" class="full small-input input-like lowercase selectwishloop">
                            <option value="">Year</option>
                            @for (int i = (DateTime.Now.Year - 12); i >= 1910; i--)
                            {
                                <option value="@(i)">@(i)</option>
                            }
                        </select>
                    </div>
                    <span class="col_2"><a class="button pop" id="save_birthday">save</a></span>
                    <span class="col_4">password</span>
                    <div class="col_6">
                        <a class="button pop full" id="showChangePassword">change password</a>
                        <div id="changePassword" style="margin-top: 10px;">
                            <div class="col_5" style="margin-left: 0;">@Html.Password("settingsPassword", "", new { @id = "settingsPassword", @class = "full small-input", placeholder = "enter new password" })</div>
                            <div class="col_5">@Html.Password("settingsPasswordRepeat", "", new { @id = "settingsPasswordRepeat", @class = "full small-input", placeholder = "confirm password" })</div>
                            <div class="col_2 right" style="margin-right: 0; float: right;"><a class="button pop" id="savePassword">save</a></div>
                            <span class="instructions">Your password is case sensitive and must be a minimum of 6 characters.</span>
                        </div>
                    </div>
                    <div class="col_12">
                        <div id="formError" style="font-size: 0.7em;"></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>